 <link href='./layout.html' rel='stylesheet'>

 .design{
 	background-color:skyblue;
 	height: 10px;
 }

 	 .line{
 	background-color:skyblue;
 	height: 30px;
 }

 	 .shape{
 	background-colour:skyblue;
 	height: 30px;
 }